/*Sample04.html*/
.header{
    width: 98%;
    background-color: lightcyan;
    text-align: center;
}
.nav{

    width:98%;
    height:30px;
    background-color: #f3f3f3;
    border:2px solid #cccccc;
    border-radius: 10px;
    margin-bottom: 10px;    
        
}
.nav ul{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 auto;
}
.nav ul li a{
    float:left;
    margin-right: 100px;
    display:block;
    line-height: 30px;
    font-weight: bold;
    
}
.leftsection{
    float: left;
    width:70%;
    background-color: #cccccc;
}
.rightsection{
    width:30%;
    float:right;
    height:95%;
    background-color: yellow;
}
.footer{
    float: left;
    width: 100%;
    text-align: center;
}
.article{
    border-radius: 5px;
    width: 90%;
    background-color: lightgoldenrodyellow;
    margin: 10px 10px 10px 10px;
}
.sidemenu{
    border-radius: 10px;
    background-color: #f3f3f3;
    width: 80%;
    margin-left: 20px;
}